doctype=html
html
    head
        title Error - #{formId}
        style(type="text/css").
            .error {padding: 20px; border: 1px solid black; background: "#ff0000"; text-align: "center"; margin: 0 auto; width: 50%;}
    body
        div.error
            h4.error-text Error submitting form #{formId}