doctype=html
html
    head
        title Submitted Successfully - #{formId}
        style(type="text/css").
            .success{padding: 20px; border: 1px solid black; background-color: "green"; background: "#0000ff"; text-align: "center"; margin: 0 auto; width: 50%;}
            .success-text{text-align: "center"; justify-content: "center"; display: flex;}
    body
        div.success 
            h4.success-text Form #{formId} submitted successfully